<template>
        <div class="card" style="margin-bottom: 30px;">
            <img class="card-img-top img-fluid img-thumbnail" :src=" product.image.image_path"  alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text"><strong>Price: </strong> {{ product.price }} INR</p>
                <p class="card-text"><strong>Quantity: </strong> {{ product.quantity }}</p>
                <button @click="addToCart(product.id)" class="btn btn-primary">{{ btnLabel(product.id) }}</button>
            </div>
        </div>

</template>

<script>
    export default {
        props: [ 'product' ],
        methods: {
            btnLabel (id) {
                const items = this.$store.getters.GET_CART

                const has = items.filter((item) => {
                    return item.product_id == id
                })

                return has.length ? "Added to cart" : 'Add to cart'

            },
            addToCart(id)
            {
                const url = '/add-to-cart'

                const data = { id: id }

                axios.post(url, data, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then((response) => {

                    if(response.data)
                    {
                        this.$store.dispatch('SET_CART', response.data)
                    }

                })
            }
        }
    }
</script>
