<template>
   <div>
       <div class="container" v-if="products.length">
           <h3>My Products</h3>
           <div class="row">
               <div class="col-md-3"  v-for="product in products" v-bind:key="product.id">
                <item :product="product"></item>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    export default {
        data () {
          return {
              products: {}
          }
        },
        mounted() {

            const url = 'api/products'

            axios.get(url, {
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then((response) => {
                this.products = response.data
            })
        }
    }
</script>
