<template>
    <div>
        <div class="container">
            <h3>My Cart</h3>

            <div class="row" v-if="items.length">
                    <div class="col-md-12" v-for="item in items" v-bind:key="item.id">
                       <div class="row">
                           <div class="col-md-4">
                               <img class="img-fluid img-thumbnail" :src="item.product.image.image_path">
                           </div>
                           <div class="col-md-8">
                               <h6><strong>{{ item.product.name }}</strong></h6>
                               <p><strong>Price: </strong>{{ item.product.price }} INR</p>
                           </div>
                       </div>
                    </div>

                    <div class="col-md-12">
                        <h2>Total:  {{ total }} INR</h2>
                        <a href="/place-order" class="btn btn-primary" style="width: 100%">Pay By COD</a>

                    </div>

            </div>

            <div v-else>
                <p>Cart is Empty</p>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                items: {}
            }
        },
        computed: {
            total() {
                return this.items.reduce(function (sum, item) {
                    return sum + item.price
                }, 0)
            }
        },
        mounted() {
            this.items = this.$store.getters.GET_CART
        }
    }
</script>
